<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bunga Amalia Kurniawati's Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css"/>
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
</head>

<body class="body-dark" onload="loading()">
    <div id="loader"></div>
    <div id="overlay"></div>
    <nav class="navbar">
        <ul class="navbar-container">
            <div>
                <a class="navbar-link" href="/resume">Resume</a>
            </div>
        </ul>
    </nav>
    <main>
        <div class="schedule-container">
            <div class="form-flex">
                <a class="navbar-link" th:text="'Hello, ' + ${name} + '!'" />
            </div>
            <a class="navbar-link" href="/resume">Go to Resume</a>
        </div>
    </main>
    <footer class="footer-dark">
        <p>2018 &copy; Bunga Amalia Kurniawati</p>
    </footer>
    <script src="js/about.js"> </script>
</body>
</html>