body {
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
}

.body-light {
    background-color: white;
}

.body-dark {
    background-color: #344955;
}

.footer-dark {
    color: white;
}

.footer-light {
    color: black;
}

.navbar {
    border-bottom: 8px solid #4F9B94;
}

.navbar-container {
    list-style-type: none;
    margin: 0;
    padding-left: 2em;
    overflow: hidden;
    background-color: #0B222C;
    display: flex;
    justify-content: space-between;
}

.navbar-link {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
}

.navbar-container > div > a:hover {
    background-color: #07161C;
}

.flex-container {
    display: flex;
    justify-content: center;
}
  
.flex-left {
    background-color: #0B222C;
    border-radius: 10px;
    overflow: hidden;
    width: 15%;
    margin-top: 3%;
    text-align: center;
    line-height: 100px;
    margin-right: 30px;
}

.name {
    text-align: left;
    color: #80CCC4;
    line-height: 25px;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 35px;
}

.profpict {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    width: 68%;
}

.desc {
    color: #ffffff;
    font-size: 11px;
    text-align: left;
    line-height: 16px;
    margin: 35px;
    margin-top: 25px;
}

.logo > img {
    display: inline-block;
    margin: 3px;
}

.logo > a {
    margin: 5px;
}

.flex-right {
    background-color: #5F7481;
    border-radius: 10px;
    overflow: hidden;
    width: 45%;
    text-align: center;
    margin-top: 3%;
}

.main-left {
    text-align: left;
    margin: 35px;
    margin-top: 30px;
    margin-right: 45px;
}

.main-left  ul {
    list-style-image: url('point.png');
}

.header {
    font-size: 20px;
    color: #B2FFF7;
}

.main-point {
    display: flex;
    justify-content: space-between;
    line-height: 20px;
}

.main-container {
    line-height: 10px;
    margin-bottom: 20px;
}

.main-text {
    font-size: 12px;
    color: #ffffff;
}

.skill {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
    padding-left: 20px;
}

.skill-flex {
    background-color: #80CCC4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    width: 20%;
    height: 35px;
    margin: 5px 10px;
    text-align: center;
    align-self: center;
    line-height: 10px;
}

.flex-middle {
    background-color: #5F7481;
    border-radius: 10px;
    overflow: hidden;
    width: 800px;
    height: 500px;
    margin-top: 45px;
    text-align: left;
    line-height: 100px;
    margin-right: 30px;
}

.schedule-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-flex {
    background-color: #0B222C;
    border-radius: 10px;
    overflow: hidden;
    width: 50%;
    margin-top: 60px;
    text-align: center;
    line-height: 100px;
}

.event-container {
    margin-top: 30px;
    width: 50%;
}

.event-flex {
    background-color: #5F7481;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    margin-top: 30px;
    padding: 10px 10px;
}

.status {
    text-align: left;
    color: white;
    line-height: 25px;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 35px;
    margin-right: 35px;
    word-break: break-all;
}

.status-container {
    line-height: 10px;
    margin-bottom: 20px;
}

.button {
    background-color: #80CCC4;
    border: none;
    padding: 10px 10px 35px 10px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    align-content: center;
    vertical-align: middle;
    overflow: hidden;
}

.accordion {
    background-color: #5F7481;
    font-size: 20px;
    color: #B2FFF7;
    border-radius: 10px;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #344955;
}

.accordion:after {
    content:  url('plus.png');
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: url('minus.png');
}

.panel {
    padding: 5 10px;
    padding-right: 20px;
    background-color:#5F7481;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#change-button {
    background-color: #80CCC4;
    border: none;
    padding: 10px;
    color: black;
    border-radius: 10px;
    align-content: center;
    overflow: hidden;
    position: relative;
    font-size: 20px;
    margin: auto;
    margin-top: 40px; 
    display: block;
}

#change-button:hover {
    background-color: #4F9B94;
}

form {
    margin: 50px;
    line-height: 50px;
    padding: 20px 10px;
    text-align: center;
}

label {
    font-size: 20px;
    color: #B2FFF7;
    margin: 10px;
}

input {
    margin: 10px;
    font-size: 20px;
    color: #ffffff;
    background: transparent;
    width: 95%;
    height: 25px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #80CCC4;
}

footer {
    bottom: 0;
    width: 100%;
    height: 30px;
    text-align: center;
    color: white;
    padding-bottom: 30px;
    border-bottom: 8px solid #4F9B94;
    margin-top: 30px;
}

#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    cursor: pointer;
    transition: display 2s linear;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #4F9B94;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: block;
    transition: display 2s linear;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.title-container {
    display: flex;
    justify-content: space-between;
}

.title {
    text-align: left;
    color: white;
    line-height: 48px;
    font-size: 36px;
    margin-bottom: 30px;
}

.table-container {
    margin-top: 30px;
    width: 80%;
}

.book-table {
    border-collapse: collapse;
    width: 100%;
    color: #80CCC4;
}

thead, tbody {
    padding: 8px;
    text-align: left;
    border-bottom: 4px solid #80CCC4;
}

th, td {
    padding: 15px;
}

tbody > tr:hover {background-color:rgb(73, 89, 99);}

@media only screen and (max-width: 950px) {
    .skill-flex {
        width: 45%;
    }

    .flex-container {
        flex-direction: column;
        height: 100%;
        padding: 0;
        margin: 0;
        align-items: center;
        justify-content: center;
    }

    .navbar-container {
        height: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .flex-left {
        width: 90%;
        margin-right: 0;
        display: flex;
        flex-direction: column;
    }

    .flex-right {
        width: 90%;
    }

    .name {
        margin-top: 35px;
        margin-left: 0;
        text-align: center;
    }

    .profpict {
        width: 140px;
        margin: auto;
        margin-top: 25px;
    }

    .desc {
        text-align: center;
    }
    
    .form-flex {
        width: 90%;
    }

    .event-container {
        width: 90%;
    }

    .status {
        font-size: 18px;
    }
}